:root {
    
    --title-text-color: #FFFFFF;
    --first-text-color: #212121;
    --last-text-color: #757575;
    --focus-text-color: #2196F3;
    --backgound-color: #2F303A;
    --hero-button-color-focus: #188CE8;
    --portfolio-border: #EEEEEE;
    --background-team-sec: #F5F4FA;
    /* svg */
    --hover-color: #2196F3;
    --primary-colo: #AFB1B8;
}
body {
    background-color: var(--title-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    color: var(--first-text-color);
    letter-spacing: 0.03em;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;

}
ul {
        list-style-type: none;
        padding: 0px;
        margin: 0;
}

.images {
    display: block;
    min-width: 100%;
    height: auto;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
/* Navigation */
.header {
    border-bottom: 1px solid #ECECEC;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: inherit;
    padding-top: 24px;
    padding-bottom: 25px;
    
}
.web-logo {
    color: var(--focus-text-color);
}
.main-nav {
    display: flex;
    align-items: center;
    padding: 0;
}
.navigation {
    position: relative;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: inherit;
    text-decoration: none;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item:not(:last-child) {
    margin-right: 50px;
}
.nav-menu {
    margin-left: 93px;
}

.navigation-studio.current,
.navigation-portfolio.current {
    color: var(--focus-text-color);
    opacity: 1;

}
.navigation::after {
    position: absolute;
    
    content: '';
    left: 0;
    top: 96%;

    background-color: var(--focus-text-color);

    width: 100%;
    height: 4px;

    border-radius: 2px;
    
    opacity: 0;
}
.navigation.current::after {
    opacity: 1;
}


.navigation:hover,
.navigation:focus {
    color: var(--focus-text-color);
    
}
.address-table {
    display: flex;
    margin-left: auto;
    justify-content: center;
    text-align: center;
}
.address-table .item + .item {
    margin-left: 30px;
    
}


.address {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--last-text-color);
    text-decoration: none;
    display: flex;
    text-align: center;
    justify-content: center;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.address:focus,
.address:hover {
    color: var(--focus-text-color);
}
.svg-mail,
.svg-phone {
    margin-right: 10px;
    fill: currentColor;
}


.svg-mail {
width: 1rem;
height: 1rem;
}
.svg-phone {
    width: 1rem;
    height: 1rem;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}



/* Hero-title */
.hero-section {
    background: var(--backgound-color);
    text-align: center;
        
    margin: 0 auto;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
        
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-img.jpg);
    background-size: cover;
    background-color: #2f303a;

}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-bottom: 30px;
}
.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    background-color: var(--focus-text-color);
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    min-width: 200px;
    height: 50px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
    background-color: var(--hero-button-color-focus);
}
/* benefits */
.benefits-cont {
    padding-bottom: 0;
}
.benefits-table {
    display: flex;
}
.benef-item + .benef-item {
    margin-left: 30px;

}
.benef-item {
    min-width: 270px;

}

.benefits-titile {
    visibility: hidden;
    font-size: 0;
}
.benefits-parahraph-titles {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    margin-bottom: 10px;
}
.benefits-text {
    font-size: 14px;
    line-height: 1.7;
    color: var(--last-text-color);
}
.benef-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-bottom: 30px;
    height: 120px;
    background-color: var(--background-team-sec);
    
}

/* work */
.work-table {
    display: flex;
}
.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}
.work-item + .work-item {
margin-left: 30px;
}
.work-item {
    position: relative;
}
.work-section {
    padding-top: 0;
}

.work-text {
    position: absolute;
    
    display: flex;
    
    width: 100%;
    height: 70px;
    left: 0;
    bottom: 0;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    
    align-items: center;
    justify-content: center;
    
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--title-text-color);
}

/* team */
.section-team {
    background-color: var(--background-team-sec);
}
.team-table {
    display: flex;
}
.team-item + .team-item {
    margin-left: 30px;
}
.team-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--title-text-color);
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}
.team-names {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
.team-job-title {
font-size: 16px;
line-height: 1.19;
text-align: center;
color: var(--last-text-color);
margin-bottom: 16px;
}
.team-svg-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.team-svg-items + .team-svg-items {
    margin-left: 10px;
}
.team-links {
    display: flex;
    color: var(--primary-colo);
    text-decoration: none;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;

    transition: color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.team-links:hover,
.team-links:focus {
    color: var(--title-text-color);
    background-color: var(--focus-text-color);
}
.team-svg {
    fill: currentColor;
}
/* clients */
.client-section {
    text-align: center;
    justify-content: center;
}
.clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 50px;

    color: var(--first-text-color);
}
.client-list {
    display: flex;
    align-items: center;
    justify-content: center;
}
.client-item {
    border: 1px solid var(--primary-colo);
    border-radius: 4px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-item:hover,
.client-item:focus {
    border: 1px solid var(--hover-color);
    
}
.client-item + .client-item {
    margin-left: 30px;
}
.client-links {
    display: flex;
    width: 170px;
    height: 92px;
    color: var(--primary-colo);
    text-align: center;
    justify-content: center;
    align-items: center;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.client-svg-color {
    fill: currentColor;
}
.client-links:hover,
.client-links:focus {
    color: var(--hover-color);
}
/* footer */
.footer-div {
    padding-top: 0;
    padding-bottom: 0;
}
.footer-color {
    background-color: var(--backgound-color);
    padding-top: 60px;
    padding-bottom: 60px;

}
.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: var(--title-text-color);
    margin-bottom: 20px;
    display: inline-block;
}
.footer-container {
    display: flex;
}
/* footer svg link */
.footer-svg-container {
    margin-left: 70px;
    margin-top: 10px;
}
.footer-links-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: var(--title-text-color);

    margin-bottom: 20px;
}
.footer-svg-list {
    display: flex;
    text-align: center;
    justify-content: center;
}
.footer-svg-item + .footer-svg-item {
    margin-left: 10px;
}
.footer-svg-links {
    display: flex;
    
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--title-text-color);
    
    text-decoration: none;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.footer-svg-links:hover,
.footer-svg-links:focus {
    background-color: var(--hover-color);
}

.footer-svg {
    fill: currentColor;
}
/* address */
.address-item:not(:last-child) {
    margin-bottom: 9px;
}
.address-street {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    color: var(--title-text-color);
    text-decoration: none;
    display: inline-block;
}
.address-mail-tel {
    font-style: normal;
    font-size: 14px;
    line-height: 1.17;
    color: var(--last-text-color);
    text-decoration: none;
    display: inline-block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-mail-tel:hover,
.address-mail-tel:focus {
    color: var(--focus-text-color);
}

.footer-inpat-field {
    position: relative;
    width: 570px;
    height: 86px;
    display: flex;
    align-items: flex-end;

    margin-left: 93px;
    margin-top: 10px;
}

.footer-label {
    
    position: absolute;

    left: 0;
    top: 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: var(--title-text-color);
}

.footer-input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: var(--backgound-color);

    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    padding-left: 16px;
    
    color: rgba(255, 255, 255, 0.6);
}

.footer-submit {
        width: 200px;
        height: 50px;
    
        margin-left: 12px;
        border: none;
    
        background-color: var(--focus-text-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        display: flex;
        letter-spacing: 0.06em;
    
        align-items: center;
        justify-content: center;
    
        color: var(--title-text-color);
    
        cursor: pointer;
    
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-submit:hover,
.footer-submit:focus {
    background-color: var(--hero-button-color-focus);
}

.icon-send {
    margin-left: 10px;
}

/* Portfolio main */
.portfolio-but-table {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-hero-title {
    visibility: hidden;
    font-size: 0;
}

.portf-nav-buttons {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--first-text-color);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding: 6px 22px;
    
    transition-property: color, background-color, box-shadow, border-radius;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.portf-nav-buttons:focus,
.portf-nav-buttons:hover {
    color: var(--title-text-color);
    background-color: var(--focus-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;



}
.portfolio-item + .portfolio-item {
    margin-left: 8px;
}
/* portfolio table */
.portfolio-table {
    display: flex;
    flex-wrap: wrap;
}
.portf-table-item {
    margin-right: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.portfolio-link:focus,
.portfolio-link:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portf-table-item:nth-child(3n) {
    margin-right: 0;
}
.portf-table-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.portfolio-company-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--first-text-color);
    margin-bottom: 4px;
}
.portfolio-link {
    display: block;
    text-decoration: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-text {
    font-size: 16px;
    line-height: 1.88;
    color: var(--last-text-color);
}
.portf-pad-div {
    padding: 20px 24px;
    border-left: 1px solid var(--portfolio-border);
    border-right: 1px solid var(--portfolio-border);
    border-bottom: 1px solid var(--portfolio-border);
}

.thumb {
    position: relative;
    overflow: hidden;
}
.thumb-text {
    position: absolute;

    display: flex;
    content: '';

    top: 0;
    left: 0;

    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    
    background: rgba(33, 150, 243, 0.9);
    align-items: center;
    justify-content: center;

    
}
.thumb-text-style {
    
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--title-text-color);

    max-width: 322px;
}

.portfolio-link:focus .thumb-text,
.portfolio-link:hover .thumb-text {
    transform: translateY(0%);
}

/* backdrop */
.backdrop {
    position: fixed;

    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.2);

    opacity: 1;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -35%) scale(0.9);
}

.modal {
    position: absolute;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    
    top: 45%;
    left: 50%;

    min-width: 528px;
    min-height: 581px;

    background-color: var(--title-text-color);

    transform: translate(-50%, -35%) scale(1);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop-button {
    display: block;
    position: absolute;
    
    left: 490px;
    top: 8px;
    
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    
    padding: 0;

    border-radius: 50%;
    background: var(--title-text-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: rgb(0, 0, 0);
}
.svg-close {
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop-button:focus .svg-close,
.backdrop-button:hover .svg-close {
    fill: var(--hover-color);
}

.backdrop-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--first-text-color);

    padding-top: 40px;
    padding-bottom: 30px;
}

.callback {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-field {
    position: relative;

}

.form-label {
    display: block;
    position: absolute;
    
    top: 0;
    left: 0;

    transform: translateY(-18px);

    font-size: 12px;
    line-height: 1.17;
    
    letter-spacing: 0.01em;
    
    color: var(--last-text-color);
}

.form-input {
    margin: 0;
    width: 448px;
    height: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    padding-left: 31px;

    outline: none;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    
    color: rgba(117, 117, 117, 0.5);

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:not(:placeholder-shown),
.form-input:focus,
.form-input:hover {
    border: 1px solid var(--hover-color);

}

.form-field + .form-field {
    margin-top: 28px;
}

.form-textarea {
    margin: 0;
    width: 448px;
    height: 120px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    padding: 12px 16px;

    outline: none;

    resize: none;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
        
    color: rgba(117, 117, 117, 0.5);
}
.form-textarea:not(:placeholder-shown),
.form-textarea:focus,
.form-textarea:hover {
    border: 1px solid var(--hover-color);
}

.form-svg {
    position: absolute;

    top: 11px;
    left: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus ~ .form-svg,
.form-input:hover ~ .form-svg {
    
    fill: var(--hover-color);
}


.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.checkbox-field {
    margin-top: 25px;
    margin-bottom: 25px;
}

.chack-icon {
    display: inline-flex;
    width: 16px;
    height: 15px;
    border: 2px solid var(--first-text-color);
    border-radius: 2px;

    margin-right: 7px;
}

.checkbox:checked + .chack-icon {
    border-color: var(--hover-color);
    background-color: var(--hover-color);
    background-image: url(../images/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
}

.form-label-topic {
    display: flex;
    align-items: center;

    font-size: 14px;
    line-height: 1.17;
    
    letter-spacing: 0.01em;
    
    color: var(--last-text-color);
}

.terms {
    font-size: 14px;
    line-height: 1.7;
    
    letter-spacing: 0.03em;
    
    text-decoration-line: underline;
    
    color: #2196F3;
}

.submit-button {
    
    width: 200px;
    height: 50px;
    
    border: none;
    
    background-color: var(--focus-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    letter-spacing: 0.06em;

    align-items: center;
    justify-content: center;
    
    color: var(--title-text-color);

    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:focus,
.submit-button:hover {
    background-color: var(--hero-button-color-focus);
}